<article>

    {{> components/article-meta }}
    {{> components/article-featured-media }}

    <div class="article-content">
        <span class="wrap">LOS ANGELES &ndash; Magic Johnson&rsquo;s blustery tenure as president of the Los
            Angeles Lakers has ended with a bang.</span>
        <span class="wrap">The charismatic five-time NBA champion promised to deliver superstars to Southern
            California and return the <a href="#">Lakers to greatness</a>, but he ended up shocking the basketball world
            by
            resigning his position in an impromptu gathering with media members that lasted more than 40 minutes
            before Tuesday night&rsquo;s regular season finale against the Portland Trail Blazers.</span>
        <span class="wrap">Johnson, who announced he was HIV positive in 1991, said that his health is
            &ldquo;wonderful&rdquo; and was not a factor in his decision. The business mogul and Los Angeles
            Dodgers co-owner sounded relieved while delivering the news, noting that he was going to return to
            his other interests and wanted to set up the Lakers for what will be a busy summer.</span>

        <!-- Ads -->
        <div class="article-ads">
            <p>Ads code here</p>
        </div>
        <!-- /Ads -->

        <span class="wrap">&ldquo;If I&rsquo;m going to step down from the Lakers, this is the best time,&rdquo;
            Johnson said. &ldquo;The draft is not here. Free agency is coming up. Somebody can be in here to
            recruit. &hellip; I&rsquo;m looking forward to my life. I want to go back to being a businessman and
            helping the black community and the Latino community. I get to go relax and watch my Dodgers.
            &hellip; I want to be me. I knew if I stayed in the role, I&rsquo;d be giving up a lot of
            me.&rdquo;</span>

        <!-- Embedded Media -->
        <div class="article-embedded-media">
            <div class="embedded-image">
                <img class="lazyLoad" width="640" height="480" layout="responsive"
                    data-src="https://nationalpostcom.files.wordpress.com/2019/04/10black-holephoto-jumbo.jpg?quality=90&strip=all&w=400"
                    src="https://nationalpostcom.files.wordpress.com/2019/04/10black-holephoto-jumbo.jpg" />
            </div>
            <figcaption class="image-caption"> Magic Johnson leaves the building prior to an NBA basketball
                game
                between the Lakers and the Portland Trail Blazers on Tuesday, April 9, 2019, in Los Angeles.
            </figcaption>
        </div>
        <!-- /Embdedded Media -->

        <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
            front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
            manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
            player agent best known for representing Lakers legend Kobe Bryant.</span>

        <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
            delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
            said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
            asked.</span>

        <!-- Embebbed Media -->
        <div class="article-embebbed-media">
            <div id="featured-video" class="featured-video">
                <div class="video-placeholder" placeholder="">
                    <div class="placeholder-inner">
                        <div class="ytp-spinner">
                            <div class="ytp-spinner-container">
                                <div class="ytp-spinner-rotator">
                                    <div class="ytp-spinner-left">
                                        <div class="ytp-spinner-circle"></div>
                                    </div>
                                    <div class="ytp-spinner-right">
                                        <div class="ytp-spinner-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fallback="">
                    <div class="video-fallback">
                        <div class="video-fallback-line-1">We apologize, but this video has failed to load.
                        </div>

                        <div>Try refreshing your browser, or<br><a href="https://nationalpost.com/tag/video-centre"
                                title="Video Fallback" target="_blank">tap here to see other videos from our
                                team</a>.</div>
                    </div>
                </div>
                <button id="close-video" class="close-video" type="button"></button>
                <iframe id="player" frameborder="0" allowfullscreen="1"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    title="YouTube video player" width="480" height="360"
                    src="https://www.youtube.com/embed/ppJ9oeKMCCQ?playsinline=1&amp;origin=https%3A%2F%2Fbeta.canada.com&amp;embed_config=%7B%22autonavRelatedVideos%22%3Atrue%2C%22relatedChannels%22%3A%5B%5D%7D&amp;enablejsapi=1&amp;widgetid=1"></iframe>
                <script>
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                    var player;

                    function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                            height: '360',
                            width: '480',
                            videoId: 'ppJ9oeKMCCQ',
                            events: {
                                'onReady': onPlayerReady,
                                'onError': onPlayerError
                            },
                            embedConfig: {
                                'autonavRelatedVideos': true,
                                "relatedChannels": [

                                ]
                            },
                            playerVars: {
                                playsinline: 1,
                                origin: 'beta.canada.com'
                            }
                        });
                    }

                    function onPlayerReady(event) {
                        var placeholderInner = document.querySelector('.placeholder-inner');
                        player.mute();
                        player.playVideo();
                    }

                    function onPlayerError(event) {
                        var videoFallback = document.querySelector('.video-fallback');

                        videoFallback.style.display = 'flex';
                    }
                </script>
            </div>
        </div>
        <!-- /Embebbed Media -->

        <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
            front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
            manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
            player agent best known for representing Lakers legend Kobe Bryant.</span>

        <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
            delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
            said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
            asked.</span>

        {{> components/related-articles }}

        <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
            front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
            manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
            player agent best known for representing Lakers legend Kobe Bryant.</span>

        <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
            delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
            said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
            asked.</span>

        {{> components/article-footer }}
    </div>
</article>