<!-- Article Featured Media -->
<div class="article-featured-media">
    <img class="featured-image" alt="Magic Johnson"
        src="https://nationalpostcom.files.wordpress.com/2019/04/trail_blazers_lakers_basketball.jpg?quality=90&strip=all&w=400"
        width="1000" height="750">
    <figcaption class="featured-image-caption image-caption">
        <span class="caption">Magic Johnson leaves the building prior to an NBA basketball game between the
            Lakers and the Portland Trail Blazers on Tuesday, April 9, 2019, in Los Angeles. </span>
        <span class="credit">Photo by AP Photo/Mark J. Terrill</span>
    </figcaption>
</div>
<!-- /Article Featured Media -->