<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <button id="toggle" class="sidebar-close nav-button" tabindex="0"></button>
    <nav>
        <section class="sidebar-section sidebar-internal">
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/travel">Travel</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/news">News</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/entertainment">Entertainment</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/life">Life</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/business">Business</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/technology">Technology</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/sports">Sports</a>
            </section>
        </section>
        <section class="sidebar-section sidebar-external">
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://www.working.com" target="_blank">Jobs</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://driving.ca" target="_blank">Driving</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://www.remembering.ca/" target="_blank">Obituaries</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="https://bodyandhealth.canada.com/" target="_blank">Body
                    &amp; Health</a>
            </section>
        </section>
        <section class="sidebar-section sidebar-featured">
            <h4 class="sidebar-title">Featured</h4>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="http://www.canada.com/life/diversions/games.html">Games</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured"
                    href="http://www.canada.com/life/diversions/puzzles.html">Puzzles</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="/category/contests/">Contests</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="/category/life/horoscopes">Astrology</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="http://www.canada.com/life/diversions/kids_games.html">Kids'
                    Games</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured"
                    href="http://www.canada.com/entertainment/television/tv-listings/index.html#">TV Listings</a>
            </section>
        </section>
    </nav>
</div>
<!-- /Sidebar -->