<div class="article-releated-list">
    <ul class="related_links">
        <li><a
                href="https://nationalpost.com/news/world/gravitational-wave-from-black-hole-collision-1-8-billion-light-years-away-sensed-in-u-s-and-italy">Gravitational
                wave from black hole collision 1.8 billion light-years away sensed in U.S. and Italy</a>
        </li>
        <li><a
                href="https://nationalpost.com/news/canada/a-big-bet-finally-paying-off-why-the-discovery-of-a-second-gravitational-wave-is-such-a-huge-deal">A
                big bet, finally paying off: Why the discovery of a second gravitational wave is such a
                huge deal</a></li>
        <li><a
                href="https://nationalpost.com/news/graphics/graphic-a-look-at-how-scientists-found-gravitational-waves-and-why-they-are-so-important">Graphic:
                A look at how scientists found gravitational waves and why they are so important</a>
        </li>
    </ul>

</div>