<div class="social-share social-share-html">
    <a onclick="setSocialLinks('sms')"
        href="sms://0987654321&body=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0"
        class="rounded sms" aria-label="Share via SMS"><i class="fas fa-comments"></i></a>

    <a onclick="setSocialLinks('email')"
        href="mailto:?Subject=I%20saw%20this%20on%20canada.com | Canada&#39;s great, shareable stories&amp;Body=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0"
        class="rounded email" aria-label="Share via email"><i class="fas fa-envelope"></i></a>

    <a onclick="setSocialLinks('facebook')"
        href="http://www.facebook.com/sharer.php?u=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0&display=popup"
        class="rounded facebook" target="_blank" aria-label="Share on Facebook"><i class="fab fa-facebook-f"></i></a>

    <a onclick="setSocialLinks('twitter')"
        href="https://twitter.com/share?url=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0&amp;text=Magic Johnson abruptly quits as L.A. Lakers president. Someone tell the team owner."
        class="rounded twitter" target="_blank" aria-label="Share on Twitter"><i class="fab fa-twitter"></i></a>
</div>