// ===============
// Button 
// =============== 
.btn {
    display: inline-flex;
    box-shadow: none;
    justify-content: flex-start;
    appearance: none;
    align-items: center;
    border-radius: 5px;
    outline: none;
    padding: 0.7rem;
    background: $brand-color;
    color: #FFF;

    &:hover {
        cursor: pointer;
        background:$black;
        color: $white;
    }

    &--xs {
        font-size: $size-8;
    }

    &--sm {
        font-size: $size-7;
    }

    &--xl {
        font-size: $size-4;
    }
    a {
        color: $white;
    }
}

// ===============
// Button List
// =============== 

.btnList {
    padding: 0;
}