{{> header }}

<main>
  <h1>Components</h1>
  <ul>
    <li>Breadcumb</li>
    <li>Card</li>
    <li>Dropdown</li>
    <li>Form</li>
    <li>Grid</li>
    <li>Menu</li>
    <li>Message</li>
    <li>Modal</li>
    <li>Navbar</li>
    <li>Paginantion</li>
    <li>Panel</li>
    <li><a href="components-story.html">Stories</a></li>
    <li>Tabs</li>
  </ul>
</main>

{{> footer }}