{{> header }}

<main class="styleguide-main">
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="components.html">Components</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Page Footer</a></li>
                </ul>
            </nav>
            <section class="styleguide-description section">
                <h1 class="title is-4">Page Footer</h1>
                <p>Poop in the plant pot hide head under blanket so no one can see cat not kitten around eat too much
                    then proceed to regurgitate all over living room carpet while humans eat dinner for plop down in the
                    middle where everybody walks. You call this cat food find box a little too small and curl up with
                    fur hanging out and licks paws yet roll on the floor purring your whiskers off.</p>
            </section>
            <pre><code><footer class="footer">
    <div class="footer-logo-container">
        <a class="footer-logo" href="beta.canada.com" title="Site URL in Footer">
            <img class="footer-logo-image" src="/static/websites/images/canada/logo-footer-canada.svg">
        </a>
    </div>
    <div class="copyright">
        <a href="https://www.postmedia.com/brands" title="Postmedia Brands">
            <img class="footer-logo-postmedia" alt="Postmedia Logo" src="/static/websites/images/logo-postmedia.png"
                width="90px" height="15px">
        </a>
        <span>©
            <span itemprop="copyright-year">2019</span>
            <span itemprop="copyright-holder">canada.com | Canada's great, shareable stories</span>, a division of
            <span itemprop="sourceOrganization" itemtype="https://schema.org/Organization"
                itemid="https://www.postmedia.com">
                <span itemprop="name">Postmedia Network Inc.</span>
            </span> All rights reserved. Unauthorized distribution, transmission or republication strictly prohibited.
        </span>
        <span>365 Bloor St East, Toronto, ON, M4W3L4, www.postmedia.com</span>
        <div class="privacy-links">
            <a href="http://www.postmediaadvertising.com/privacy-statement/">Privacy</a>
            <a href="https://secure.canada.com/aboutus/termsofservice.html">Terms</a>
            <a href="https://secure.canada.com/aboutus/copyright.html">Copyright</a>
            <a href="https://www.canada.com/aboutus/sitemap.html">Site Map</a>
            <a href="//https://o.canada.com/uncategorized/contact-us">Contact Us</a>
        </div>
    </div>
</footer></code></pre>

        </div>
    </section>
</main>
{{> footer }}