{{> header }}

<section class="section">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="components.html">Components</a></li>
                <li class="is-active"><a href="#" aria-current="page">Story Page</a></li>
            </ul>
        </nav>
        <div class="box">
            <h1 class="title is-5">Story Page Components</h1>
            <ul>
                <li><a href="components-header.html">Page Header</a></li>
                <li><a href="components-nav.html">- Navigation Bar</a></li>
                <hr>
                <li><a href="components-story-header.html">Story Header</a></li>
                <li><a href="components-story-content.html">Story Content</a></li>
                <li><a href="components-story-related-stories.html">Related Stories</a></li>
                <li><a href="components-story-social-bar.html">Social Bar</a></li>
                <li><a href="components-story-top-stories.html">Top Stories</a></li>
                <hr>
                <li><a href="components-footer.html">Page Footer</a></li>
            </ul>
        </div>
    </div>
</section>

{{> footer }}