{{> header }}

<main class="styleguide-main">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Components
        </h1>
        <h2 class="subtitle">
          Please choose a component on the menu.
        </h2>
      </div>
    </div>
  </section>
</main>

{{> footer }}