{{> header }}

<section class="section">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="components.html">Components</a></li>
                <li class="is-active"><a href="#" aria-current="page">Footer</a></li>
            </ul>
        </nav>
        <div class="box">Description</div>
        <h3 class="title is-size-5">Code Template</h3>

<pre><code><footer class="footer">
    <div class="content">
        <p>Your Footer text</p>
    </div>
</footer></code></pre>

    </div>
</section>

{{> footer }}