{{> header }}

<main>
    <section class="examples">
        <h1>Story</h1>
        <hr>
        <div class="component">
            <div class="component-header">
                <h2>Story Article</h2>
            </div>
<article class="s-story">
  <h1 class="c-story__title">
      Story Title
  </h1>
  <header class="c-story__intro">
      Story Intro
  </header>
</article>

            <pre>
<code><article class="s-story">
  <h1 class="c-story__title">
      Story Title
  </h1>
  <header class="c-story__intro">
      Story Intro
  </header>
</article>
</code></pre>

    </section>
</main>

{{> footer }}