<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Styleguide</title>
</head>

<body>
  {{> header }}

  <main>
    <h2>Components</h2>
    <ul>
      <li><a href="components.button.html">Buttons</a></li>
    </ul>
  </main>

  {{> footer }}
</body>

</html>