{{> header }}

<main>
  <h1>Elements</h1>
  <ul>
    <li><a href="components-button.html">Button</a></li>
    <li>Image</li>
    <li>Box</li>
    <li>Icon</li>
    <li>Notification</li>
    <li>Table</li>
    <li>Titles</li>
    <li>Progress bars</li>
    <li>Tag</li>
  </ul>
</main>

{{> footer }}