{{> header }}

<main>
    <section class="examples">
        <h1>Buttons</h1>
        <hr>
        <div class="component">
            <div class="component-header">
                <h2>Button Sizes</h2>
            </div>
            <p>
                <button class="btn btn--xs">Extra Small Button</button>
                <button class="btn btn--sm">Small Button</button>
                <button class="btn">Default button</button>
                <button class="btn btn--xl">Extra large button</button>
            </p>
            <pre>
<code><button class="btn btn--xs">Extra Small Button</button>
<button class="btn btn--sm">Small Button</button>
<button class="btn">Default button</button>
<button class="btn btn--xl">Extra large button</button>
</code></pre>

            <hr>

            <div class="component">
                <div class="component-header">
                    <h2>Button List</h2>
                </div>
                <div class="btnList">
                    <button class="btn">First button</button>
                    <button class="btn">Second one</button>
                    <button class="btn">Third one</button>
                    <button class="btn">Fourth one</button>
                </div>
                <pre>
<code><div class="btnList">
    <button class="btn">First button</button>
    <button class="btn">Second one</button>
    <button class="btn">Third one</button>
    <button class="btn">Fourth one</button>
</div></code></pre>
            </div>
    </section>
</main>

{{> footer }}