{{> header }}
  <h2>Layout</h2>
  <ul>
    <li>Container</li>
    <li>Columns</li>
    <li>Footer</li>
    <li>Grid</li>
    <li>Hero</li>
    <li>Section</li>
    <li>Tiles</li>
  </ul>
{{> footer }}