{{> header }}

<main class="container styleguide-main">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="components.html">Components</a></li>
            <li class="is-active"><a href="#" aria-current="page">Page Header</a></li>
        </ul>
    </nav>

    <section class="styleguide-description section">
        <h1 class="title is-4">Page Header</h1>
        <p>Poop in the plant pot hide head under blanket so no one can see cat not kitten around eat too much then proceed to regurgitate all over living room carpet while humans eat dinner for plop down in the middle where everybody walks. You call this cat food find box a little too small and curl up with fur hanging out and licks paws yet roll on the floor purring.</p>
    </section>

    <section class="section">
        <h1 class="title is-4">Example:</h1>
            {{> nav }}
    </section>
    
    <section class="styleguide-template section">
        <h3 class="title is-size-5">Code Template</h3>
        <pre><code>{{> nav }}</code></pre>
    </section>

        <section class="styleguide-variable section">
        <h3 class="title is-size-5">SASS Variables</h3>
        <div class="table-container">
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$header</code>
                        </td>
                        <td>
                            <code>$link</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$header-logo</code>
                        </td>
                        <td>
                            <code>$link-hover</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$navbar-button</code>
                        </td>
                        <td>
                            <code>$text-strong</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>

{{> footer }}