{{> header }}

<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="components.html">Components</a></li>
                <li><a href="components-story.html">Story Page</a></li>
                <li class="is-active"><a href="#" aria-current="page">Story Page Header</a></li>
            </ul>
        </nav>
        <div class="box">Story Page Header</div>
        <h3 class="title is-size-5">Code Template</h3>

<pre><code><div class="article-meta">
    <p class="article-category"></p>
    <p class="article-category">Sports</p>
    <h1 class="article-title">Magic Johnson abruptly quits as L.A. Lakers president. Someone tell the team owner</h1>
    <p class="published-by">
        <span>By Washington Post</span>
    </p>
    <p class="published-date">
        <span>1&nbsp;minute ago</span>&nbsp;·&nbsp;
        <span>3 minute read</span>
    </p>
</div>
</code></pre>

    </div>
</section>

{{> footer }}