{{> header }}

<main class="container styleguide-main">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="components.html">Components</a></li>
            <li class="is-active"><a href="#" aria-current="page">Navigation Bar</a></li>
        </ul>
    </nav>

    <section class="styleguide-description section">
        <h1 class="title is-4">Navigation Bar</h1>
        <p>Poop in the plant pot hide head under blanket so no one can see cat not kitten around eat too much then proceed to regurgitate all over living room carpet while humans eat dinner for plop down in the middle where everybody walks. You call this cat food find box a little too small and curl up with fur hanging out and licks paws yet roll on the floor purring your whiskers off.</p>
    </section>

    <section class="styleguide-variable section">
        <h3 class="title is-size-5">Variables</h3>
        <div class="table-container">
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$header</code>
                        </td>
                        <td>
                            <code>$link</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$header-logo</code>
                        </td>
                        <td>
                            <code>$link-hover</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code style="white-space: nowrap;">$navbar-button</code>
                        </td>
                        <td>
                            <code>$text-strong</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="styleguide-template">
        <h3 class="title is-size-5">Code Template</h3>
<pre><code><amp-sidebar id="sidebar" layout="nodisplay" side="left"
    class="sidebar i-amphtml-element i-amphtml-layout-nodisplay i-amphtml-overlay i-amphtml-scrollable i-amphtml-layout"
    i-amphtml-layout="nodisplay" aria-hidden="true" role="menu" tabindex="-1" i-amphtml-fixedid="F1" style="" hidden="">
    <button class="nav-button" on="tap:sidebar.toggle" tabindex="0"></button>
    <nav>
        <section class="sidebar-section sidebar-internal">
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/travel">Travel</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/news">News</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/entertainment">Entertainment</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/life">Life</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/business">Business</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/technology">Technology</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-internal" href="/category/sports">Sports</a>
            </section>
        </section>
        <section class="sidebar-section sidebar-external">
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://www.working.com">Jobs</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://driving.ca">Driving</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="http://www.remembering.ca/">Obituaries</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-external" href="https://bodyandhealth.canada.com/">Body &amp; Health</a>
            </section>
        </section>
        <section class="sidebar-section sidebar-featured">
            <h4 class="sidebar-title">Featured</h4>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="http://www.canada.com/life/diversions/games.html">Games</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured"
                    href="http://www.canada.com/life/diversions/puzzles.html">Puzzles</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="/category/contests/">Contests</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="/category/life/horoscopes">Astrology</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured" href="http://www.canada.com/life/diversions/kids_games.html">Kids'
                    Games</a>
            </section>
            <section class="sidebar-item">
                <a class="sidebar-item-link-featured"
                    href="http://www.canada.com/entertainment/television/tv-listings/index.html#">TV Listings</a>
            </section>
        </section>
    </nav>
    <button class="i-amphtml-screen-reader" tabindex="-1">Close the sidebar</button>
    <div style="height: 29px; width: 100%; background-color: transparent;"></div>
</amp-sidebar>
</code></pre>
    </section>
</main>

{{> footer }}