<!-- Article Meta -->
<div class="article-meta">
    <p class="article-category">Article Category</p>
    <h1 class="article-title">Article Title</h1>
    <p class="published-by">
        <span>Author Name</span>
    </p>
    <p class="published-date">
        <span>Publish Date</span>
        <span>Read length</span>
    </p>
</div>
<!-- /Article Meta -->