<!-- Page Header -->
<header id="header" class="page-header">
    <div class="container">
        <div class="page-header-logo">
            <a href="#">
                <img src="./assets/img/logo-header-canada.svg" alt="" width="172">
            </a>
        </div>
        <div class="page-header-nav-button">
            <button id="toggle" class="sidebar-open nav-button" tabindex="0"></button>
        </div>
</header>
<!-- /Page Header -->