<div class="top-stories">
    <h1 class="related">Top Stories:</h1>
    <amp-list
        class="article-page-lists i-amphtml-element i-amphtml-layout-fixed-height i-amphtml-layout-size-defined i-amphtml-layout"
        width="auto" height="164" layout="fixed-height" max-items="6"
        src="/api-root/lists/94c29b10-565a-47d3-b4c7-481114246f18/amp-list.json?format=json"
        i-amphtml-layout="fixed-height" aria-live="polite" style="height: 1002px;">
        <div fallback="">We apologize, but this list has failed to load. Try refreshing your browser.</div>
        <template type="amp-mustache">
            <div class="article-page-list-item">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">
                        <!-- List category -->
                        <p class="article-category">{ category.name }</p>
                        <!-- List Title -->
                        <a class="no-underline article-text-a" href=" get_amp_long_url ">
                            <amp-fit-text class="article-title" width="374" height="117" layout="responsive"
                                min-font-size="18" max-font-size="18">
                                <h1>{ title }</h1>
                            </amp-fit-text>
                        </a>
                    </div>

                    <!-- Check for images -->
                    #image_url <a class="article-a-image" href=" get_amp_long_url ">
                        <amp-img class="article-image" alt="" src=" image_url ?quality=90&amp;strip=all&amp;w=150"
                            width=" #image_width  image_width  /image_width  ^image_width 1.33 /image_width "
                            height=" #image_height  image_height  /image_height  ^image_height 1 /image_height "
                            layout="responsive"></amp-img>
                    </a> /image_url
                    ^image_url /image_url
                </div>

                <div class="article-page-list-item-bottom">
                    <a class="no-underline article-text-a" href=" get_amp_long_url ">
                        #author
                        <amp-fit-text class="published-by" width="374" height="40" layout="responsive"
                            min-font-size="18" max-font-size="18">
                            <p>By author </p>
                        </amp-fit-text>
                        /author

                        <p class="published-date"><span class="published-time"> published_since </span>
                            <!--<span class="published-dot"> &middot; </span><span class="read-time">1 minute read</span>  To-Do - Add word count to article lists -->
                        </p>
                    </a>
                </div>
            </div>
        </template>

        <div role="list" class="i-amphtml-fill-content i-amphtml-replaced-content">
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">Canada</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div style="line-height: 1.15em; font-size: 18px;">
                                        <h1>'A very good present': Asylum-seekers who hid Edward Snowden in Hong
                                            Kong arrive in Canada</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>'A very good present': Asylum-seekers who hid Edward Snowden in Hong
                                        Kong arrive in Canada</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="751" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/cda_snowden_refugeees_20190326-e1553630923168.jpg?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75.1%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/cda_snowden_refugeees_20190326-e1553630923168.jpg?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By Tom Blackwell</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By Tom Blackwell</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 26, 2019</span></p>
                    </a>
                </div>
            </div>
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">Canada</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div style="line-height: 1.15em; font-size: 18px;">
                                        <h1>'Our justice system is broken': Ontario city ‘livid’ that serial
                                            pedophile living there</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>'Our justice system is broken': Ontario city ‘livid’ that serial
                                        pedophile living there</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="750" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/mainart.jpg?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/mainart.jpg?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By Tristin Hopper</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By Tristin Hopper</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 26, 2019</span></p>
                    </a>
                </div>
            </div>
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">Israel &amp; Middle East</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div style="line-height: 1.15em; font-size: 18px;">
                                        <h1>Lebanon charges Canadian man — identified only by the initials F.G.
                                            — with spying for Israel</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>Lebanon charges Canadian man — identified only by the initials F.G. —
                                        with spying for Israel</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="750" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/ron-arad-1.png?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/ron-arad-1.png?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By Joseph Brean</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By Joseph Brean</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                    </a>
                </div>
            </div>
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">News</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div class="i-amphtml-fit-text-content-overflown"
                                        style="line-height: 1.15em; font-size: 18px; -webkit-line-clamp: 3; max-height: 62.1px;">
                                        <h1>Trudeau says he had 'cordial' conversation with Jody Wilson-Raybould
                                            about SNC-Lavalin, discussed 'next steps'</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>Trudeau says he had 'cordial' conversation with Jody Wilson-Raybould
                                        about SNC-Lavalin, discussed 'next steps'</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="750" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/jody.jpg?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/jody.jpg?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By The Canadian Press</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By The Canadian Press</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                    </a>
                </div>
            </div>
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">World</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div style="line-height: 1.15em; font-size: 18px;">
                                        <h1>Stormy Daniels' lawyer Michael Avenatti arrested, accused of trying
                                            to extort $25 million from Nike</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>Stormy Daniels' lawyer Michael Avenatti arrested, accused of trying to
                                        extort $25 million from Nike</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="750" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/la102-ap.jpg?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/la102-ap.jpg?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By The Associated Press</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By The Associated Press</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                    </a>
                </div>
            </div>
            <div class="article-page-list-item" role="listitem">
                <div class="article-page-list-item-top">
                    <div class="article-page-list-item-top-left">

                        <p class="article-category">News</p>


                        <a target="_top"
                            href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                            class="no-underline article-text-a">
                            <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                width="374"
                                class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                i-amphtml-layout="responsive">
                                <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                    <div style="line-height: 1.15em; font-size: 18px;">
                                        <h1>Russian rockets and Libyan mortars: How Hamas developed an advanced
                                            arsenal in the blockaded Gaza strip</h1>
                                    </div>
                                </div>
                                <div
                                    style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                    <h1>Russian rockets and Libyan mortars: How Hamas developed an advanced
                                        arsenal in the blockaded Gaza strip</h1>
                                </div>
                            </amp-fit-text>
                        </a>
                    </div>


                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                        class="article-a-image">
                        <amp-img layout="responsive" height="750" width="1000"
                            src="https://nationalpostcom.files.wordpress.com/2019/03/gaza.jpg?quality=90&amp;strip=all&amp;w=150"
                            alt=""
                            class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async" alt=""
                                src="https://nationalpostcom.files.wordpress.com/2019/03/gaza.jpg?quality=90&amp;strip=all&amp;w=150"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </amp-img>
                    </a>
                </div>

                <div class="article-page-list-item-bottom">
                    <a target="_top"
                        href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                        class="no-underline article-text-a">
                        <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40" width="374"
                            class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                            i-amphtml-layout="responsive">
                            <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                            <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                <div style="line-height: 1.15em; font-size: 18px;">
                                    <p>By The Associated Press</p>
                                </div>
                            </div>
                            <div
                                style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                <p>By The Associated Press</p>
                            </div>
                        </amp-fit-text>

                        <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                    </a>
                </div>
            </div>
        </div>
    </amp-list>
</div>