{{> base/head }}
    <main>
        <article>

            {{> components/article-meta }}
            {{> components/article-featured-media }}


            <!-- Article Content -->
            <div class="article-content">
                <span class="wrap">LOS ANGELES &ndash; Magic Johnson&rsquo;s blustery tenure as president of the Los
                    Angeles Lakers has ended with a bang.</span>
                <span class="wrap">The charismatic five-time NBA champion promised to deliver superstars to Southern
                    California and return the Lakers to greatness, but he ended up shocking the basketball world by
                    resigning his position in an impromptu gathering with media members that lasted more than 40 minutes
                    before Tuesday night&rsquo;s regular season finale against the Portland Trail Blazers.</span>
                <span class="wrap">Johnson, who announced he was HIV positive in 1991, said that his health is
                    &ldquo;wonderful&rdquo; and was not a factor in his decision. The business mogul and Los Angeles
                    Dodgers co-owner sounded relieved while delivering the news, noting that he was going to return to
                    his other interests and wanted to set up the Lakers for what will be a busy summer.</span>

                <!-- Ads -->
                <div class="article-ads">
                    <p>Ads code here</p>
                </div>
                <!-- /Ads -->

                <span class="wrap">&ldquo;If I&rsquo;m going to step down from the Lakers, this is the best time,&rdquo;
                    Johnson said. &ldquo;The draft is not here. Free agency is coming up. Somebody can be in here to
                    recruit. &hellip; I&rsquo;m looking forward to my life. I want to go back to being a businessman and
                    helping the black community and the Latino community. I get to go relax and watch my Dodgers.
                    &hellip; I want to be me. I knew if I stayed in the role, I&rsquo;d be giving up a lot of
                    me.&rdquo;</span>

                <!-- Embedded Media -->
                <div class="article-embedded-media">
                    <div class="embedded-image">
                        <img class="lazyLoad" width="640" height="480" layout="responsive"
                            data-src="https://nationalpostcom.files.wordpress.com/2019/04/10black-holephoto-jumbo.jpg?quality=90&strip=all&w=400"
                            src="https://nationalpostcom.files.wordpress.com/2019/04/10black-holephoto-jumbo.jpg" />
                    </div>
                    <figcaption class="image-caption"> Magic Johnson leaves the building prior to an NBA basketball
                        game
                        between the Lakers and the Portland Trail Blazers on Tuesday, April 9, 2019, in Los Angeles.
                    </figcaption>
                </div>
            </div>
            <!-- /Embdedded Media -->

            <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
                front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
                manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
                player agent best known for representing Lakers legend Kobe Bryant.</span>

            <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
                delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
                said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
                asked.</span>

            <!-- Embebbed Media -->
            <div class="article-embebbed-media">
                <div id="featured-video" class="featured-video">
                    <div class="video-placeholder" placeholder="">
                        <div class="placeholder-inner">
                            <div class="ytp-spinner">
                                <div class="ytp-spinner-container">
                                    <div class="ytp-spinner-rotator">
                                        <div class="ytp-spinner-left">
                                            <div class="ytp-spinner-circle"></div>
                                        </div>
                                        <div class="ytp-spinner-right">
                                            <div class="ytp-spinner-circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fallback="">
                        <div class="video-fallback">
                            <div class="video-fallback-line-1">We apologize, but this video has failed to load.
                            </div>

                            <div>Try refreshing your browser, or<br><a href="https://nationalpost.com/tag/video-centre"
                                    title="Video Fallback" target="_blank">tap here to see other videos from our
                                    team</a>.</div>
                        </div>
                    </div>
                    <button id="close-video" class="close-video" type="button"></button>
                    <iframe id="player" frameborder="0" allowfullscreen="1"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        title="YouTube video player" width="480" height="360"
                        src="https://www.youtube.com/embed/ppJ9oeKMCCQ?playsinline=1&amp;origin=https%3A%2F%2Fbeta.canada.com&amp;embed_config=%7B%22autonavRelatedVideos%22%3Atrue%2C%22relatedChannels%22%3A%5B%5D%7D&amp;enablejsapi=1&amp;widgetid=1"></iframe>
                    <script>
                        var tag = document.createElement('script');
                        tag.src = "https://www.youtube.com/iframe_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                        var player;

                        function onYouTubeIframeAPIReady() {
                            player = new YT.Player('player', {
                                height: '360',
                                width: '480',
                                videoId: 'ppJ9oeKMCCQ',
                                events: {
                                    'onReady': onPlayerReady,
                                    'onError': onPlayerError
                                },
                                embedConfig: {
                                    'autonavRelatedVideos': true,
                                    "relatedChannels": [

                                    ]
                                },
                                playerVars: {
                                    playsinline: 1,
                                    origin: 'beta.canada.com'
                                }
                            });
                        }

                        function onPlayerReady(event) {
                            var placeholderInner = document.querySelector('.placeholder-inner');
                            player.mute();
                            player.playVideo();
                        }

                        function onPlayerError(event) {
                            var videoFallback = document.querySelector('.video-fallback');

                            videoFallback.style.display = 'flex';
                        }
                    </script>
                </div>
            </div>
            <!-- /Embebbed Media -->

            <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
                front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
                manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
                player agent best known for representing Lakers legend Kobe Bryant.</span>

            <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
                delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
                said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
                asked.</span>

            <!-- Related Articles -->
            <div class="article-releated-list">
                <ul class="related_links">
                    <li><a
                            href="https://nationalpost.com/news/world/gravitational-wave-from-black-hole-collision-1-8-billion-light-years-away-sensed-in-u-s-and-italy">Gravitational
                            wave from black hole collision 1.8 billion light-years away sensed in U.S. and Italy</a>
                    </li>
                    <li><a
                            href="https://nationalpost.com/news/canada/a-big-bet-finally-paying-off-why-the-discovery-of-a-second-gravitational-wave-is-such-a-huge-deal">A
                            big bet, finally paying off: Why the discovery of a second gravitational wave is such a
                            huge deal</a></li>
                    <li><a
                            href="https://nationalpost.com/news/graphics/graphic-a-look-at-how-scientists-found-gravitational-waves-and-why-they-are-so-important">Graphic:
                            A look at how scientists found gravitational waves and why they are so important</a>
                    </li>
                </ul>

            </div>
            <!-- /Related Articles -->

            <span class="wrap">Johnson, 59, was hired by owner Jeannie Buss in February 2017 as part of a
                front-office restructuring in which her brother, head of basketball operations Jim Buss, and general
                manager Mitch Kupchak were both deposed. Joining Johnson was General Manager Rob Pelinka, a former
                player agent best known for representing Lakers legend Kobe Bryant.</span>

            <span class="wrap">While Johnson took the unusual step of announcing his decision to the media before
                delivering it to Buss face-to-face, he referred to the Lakers owner as his &ldquo;sister&rdquo; and
                said he would continue to advise her and offer free agency pitches on behalf of the Lakers if she
                asked.</span>

            <!-- Article Footer -->
            <div class="article-footer">
                <p class="published-by">
                    <span>By Washington Post</span>
                </p>
            </div>
            <!-- /Article Footer -->
        </article>

        <!-- Social Share -->
        <div class="social-share social-share-html">
            <a onclick="setSocialLinks('sms')"
                href="sms://0987654321&body=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0"
                class="rounded sms" aria-label="Share via SMS"><i class="fas fa-comments"></i></a>

            <a onclick="setSocialLinks('email')"
                href="mailto:?Subject=I%20saw%20this%20on%20canada.com | Canada&#39;s great, shareable stories&amp;Body=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0"
                class="rounded email" aria-label="Share via email"><i class="fas fa-envelope"></i></a>

            <a onclick="setSocialLinks('facebook')"
                href="http://www.facebook.com/sharer.php?u=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0&display=popup"
                class="rounded facebook" target="_blank" aria-label="Share on Facebook"><i
                    class="fab fa-facebook-f"></i></a>

            <a onclick="setSocialLinks('twitter')"
                href="https://twitter.com/share?url=https://o.canada.com/sports/magic-johnson-abruptly-quits-as-l-a-lakers-president-someone-tell-the-team-owner/wcm/ac392131-b36a-444c-a9c5-d33954ec44b0&amp;text=Magic Johnson abruptly quits as L.A. Lakers president. Someone tell the team owner."
                class="rounded twitter" target="_blank" aria-label="Share on Twitter"><i class="fab fa-twitter"></i></a>
        </div>
        <!-- /Social Share -->

        <!-- Top Stories -->
        <div class="top-stories">
            <h1 class="related">Top Stories:</h1>
            <amp-list
                class="article-page-lists i-amphtml-element i-amphtml-layout-fixed-height i-amphtml-layout-size-defined i-amphtml-layout"
                width="auto" height="164" layout="fixed-height" max-items="6"
                src="/api-root/lists/94c29b10-565a-47d3-b4c7-481114246f18/amp-list.json?format=json"
                i-amphtml-layout="fixed-height" aria-live="polite" style="height: 1002px;">
                <div fallback="">We apologize, but this list has failed to load. Try refreshing your browser.</div>
                <template type="amp-mustache">
                    <div class="article-page-list-item">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">
                                <!-- List category -->
                                <p class="article-category">{ category.name }</p>
                                <!-- List Title -->
                                <a class="no-underline article-text-a" href=" get_amp_long_url ">
                                    <amp-fit-text class="article-title" width="374" height="117" layout="responsive"
                                        min-font-size="18" max-font-size="18">
                                        <h1>{ title }</h1>
                                    </amp-fit-text>
                                </a>
                            </div>

                            <!-- Check for images -->
                             #image_url <a class="article-a-image" href=" get_amp_long_url ">
                                <amp-img class="article-image" alt=""
                                    src=" image_url ?quality=90&amp;strip=all&amp;w=150"
                                    width=" #image_width  image_width  /image_width  ^image_width 1.33 /image_width "
                                    height=" #image_height  image_height  /image_height  ^image_height 1 /image_height "
                                    layout="responsive"></amp-img>
                            </a> /image_url 
                             ^image_url  /image_url 
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a class="no-underline article-text-a" href=" get_amp_long_url ">
                                 #author 
                                <amp-fit-text class="published-by" width="374" height="40" layout="responsive"
                                    min-font-size="18" max-font-size="18">
                                    <p>By  author </p>
                                </amp-fit-text>
                                 /author 

                                <p class="published-date"><span class="published-time"> published_since </span>
                                    <!--<span class="published-dot"> &middot; </span><span class="read-time">1 minute read</span>  To-Do - Add word count to article lists -->
                                </p>
                            </a>
                        </div>
                    </div>
                </template>

                <div role="list" class="i-amphtml-fill-content i-amphtml-replaced-content">
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">Canada</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div style="line-height: 1.15em; font-size: 18px;">
                                                <h1>'A very good present': Asylum-seekers who hid Edward Snowden in Hong
                                                    Kong arrive in Canada</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>'A very good present': Asylum-seekers who hid Edward Snowden in Hong
                                                Kong arrive in Canada</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="751" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/cda_snowden_refugeees_20190326-e1553630923168.jpg?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75.1%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/cda_snowden_refugeees_20190326-e1553630923168.jpg?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/canada/canada-grants-refugee-status-to-some-asylum-seekers-who-hid-edward-snowden-in-hong-kong/wcm/5a275ac2-d75e-44db-9c52-6462fa66498c/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By Tom Blackwell</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By Tom Blackwell</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 26, 2019</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">Canada</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div style="line-height: 1.15em; font-size: 18px;">
                                                <h1>'Our justice system is broken': Ontario city ‘livid’ that serial
                                                    pedophile living there</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>'Our justice system is broken': Ontario city ‘livid’ that serial
                                                pedophile living there</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="750" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/mainart.jpg?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/mainart.jpg?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/canada/our-justice-system-is-broken-serial-child-sex-offender-dumped-into-ontario-city/wcm/79814f54-2b0c-49b2-9063-1de0cd8e7712/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By Tristin Hopper</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By Tristin Hopper</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 26, 2019</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">Israel &amp; Middle East</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div style="line-height: 1.15em; font-size: 18px;">
                                                <h1>Lebanon charges Canadian man — identified only by the initials F.G.
                                                    — with spying for Israel</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>Lebanon charges Canadian man — identified only by the initials F.G. —
                                                with spying for Israel</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="750" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/ron-arad-1.png?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/ron-arad-1.png?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/world/israel-middle-east/lebanon-charges-canadian-man-identified-only-by-the-initials-f-g-with-spying-for-israel/wcm/12833dd5-f806-4422-8633-c266a37c262e/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By Joseph Brean</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By Joseph Brean</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">News</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div class="i-amphtml-fit-text-content-overflown"
                                                style="line-height: 1.15em; font-size: 18px; -webkit-line-clamp: 3; max-height: 62.1px;">
                                                <h1>Trudeau says he had 'cordial' conversation with Jody Wilson-Raybould
                                                    about SNC-Lavalin, discussed 'next steps'</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>Trudeau says he had 'cordial' conversation with Jody Wilson-Raybould
                                                about SNC-Lavalin, discussed 'next steps'</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="750" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/jody.jpg?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/jody.jpg?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/trudeau-says-he-had-cordial-conversation-with-jody-wilson-raybould/wcm/e0186d99-a1d8-47da-9107-34d1b5b666ae/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By The Canadian Press</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By The Canadian Press</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">World</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div style="line-height: 1.15em; font-size: 18px;">
                                                <h1>Stormy Daniels' lawyer Michael Avenatti arrested, accused of trying
                                                    to extort $25 million from Nike</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>Stormy Daniels' lawyer Michael Avenatti arrested, accused of trying to
                                                extort $25 million from Nike</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="750" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/la102-ap.jpg?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/la102-ap.jpg?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/world/michael-avenatti-charged-with-extortion-and-wire-bank-fraud/wcm/6b0e56d2-6e5e-4e71-bcaa-41d1cbe45364/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By The Associated Press</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By The Associated Press</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="article-page-list-item" role="listitem">
                        <div class="article-page-list-item-top">
                            <div class="article-page-list-item-top-left">

                                <p class="article-category">News</p>


                                <a target="_top"
                                    href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                                    class="no-underline article-text-a">
                                    <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="117"
                                        width="374"
                                        class="article-title i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                        i-amphtml-layout="responsive">
                                        <i-amphtml-sizer style="padding-top: 31.2834%;"></i-amphtml-sizer>
                                        <div class="i-amphtml-fill-content i-amphtml-fit-text-content"
                                            style="z-index: 2;">
                                            <div style="line-height: 1.15em; font-size: 18px;">
                                                <h1>Russian rockets and Libyan mortars: How Hamas developed an advanced
                                                    arsenal in the blockaded Gaza strip</h1>
                                            </div>
                                        </div>
                                        <div
                                            style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                            <h1>Russian rockets and Libyan mortars: How Hamas developed an advanced
                                                arsenal in the blockaded Gaza strip</h1>
                                        </div>
                                    </amp-fit-text>
                                </a>
                            </div>


                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                                class="article-a-image">
                                <amp-img layout="responsive" height="750" width="1000"
                                    src="https://nationalpostcom.files.wordpress.com/2019/03/gaza.jpg?quality=90&amp;strip=all&amp;w=150"
                                    alt=""
                                    class="article-image i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 75%;"></i-amphtml-sizer><img decoding="async"
                                        alt=""
                                        src="https://nationalpostcom.files.wordpress.com/2019/03/gaza.jpg?quality=90&amp;strip=all&amp;w=150"
                                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                                </amp-img>
                            </a>
                        </div>

                        <div class="article-page-list-item-bottom">
                            <a target="_top"
                                href="https://djangocontentservices.dev.postmedia.digital/news/hamas-has-developed-a-vast-arsenal-in-blockaded-gaza/wcm/833d4497-d301-4073-b207-ff6e82a8087b/amp"
                                class="no-underline article-text-a">
                                <amp-fit-text max-font-size="18" min-font-size="18" layout="responsive" height="40"
                                    width="374"
                                    class="published-by i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout"
                                    i-amphtml-layout="responsive">
                                    <i-amphtml-sizer style="padding-top: 10.6952%;"></i-amphtml-sizer>
                                    <div class="i-amphtml-fill-content i-amphtml-fit-text-content" style="z-index: 2;">
                                        <div style="line-height: 1.15em; font-size: 18px;">
                                            <p>By The Associated Press</p>
                                        </div>
                                    </div>
                                    <div
                                        style="position: absolute; top: 0px; left: 0px; z-index: 1; visibility: hidden; line-height: 1.15em; font-size: 18px;">
                                        <p>By The Associated Press</p>
                                    </div>
                                </amp-fit-text>

                                <p class="published-date"><span class="published-time">March 25, 2019</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </amp-list>
        </div>
        <!-- /Top Stories -->
    </main>

{{> base/footer }}