<footer class="page-footer">
    <div class="footer-logo-container">
        <a class="footer-logo" href="beta.canada.com" title="Site URL in Footer">

            <img class="footer-logo-image" src="/assets/img/canada/logo-footer-canada.svg"></img>
        </a>
    </div>
    <div class="copyright">
        <a href="https://www.postmedia.com/brands" title="Postmedia Brands">
            <img class="footer-logo-postmedia" alt="Postmedia Logo" src="/assets/img/logo-postmedia.png"
                width="90px" height="15px">
        </a>
        <span>
            <span itemprop="copyright-year">&copy; 2019</span>
            <span itemprop="copyright-holder">canada.com | Canada&#39;s great, shareable stories</span>, a division
            of
            <span itemprop="sourceOrganization" itemtype="https://schema.org/Organization"
                itemid="https://www.postmedia.com">
                <span itemprop="name">Postmedia Network Inc.</span>
            </span> All rights reserved. Unauthorized distribution, transmission or republication strictly
            prohibited. </span>
        <span>365 Bloor St East, Toronto, ON, M4W3L4, www.postmedia.com</span>
        <div class="privacy-links">
            <a href="http://www.postmediaadvertising.com/privacy-statement/">Privacy</a>
            <a href="https://secure.canada.com/aboutus/termsofservice.html">Terms</a>
            <a href="https://secure.canada.com/aboutus/copyright.html">Copyright</a>
            <a href="https://www.canada.com/aboutus/sitemap.html">Site Map</a>
            <a href="//https://o.canada.com/uncategorized/contact-us">Contact Us</a>
        </div>
    </div>
</footer>