<!doctype html>
<html lang="en-CA" class="page-html page-story" itemscope="itemscope" itemtype="https://schema.org/WebPage"
    prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Article Title - Website Name </title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="./assets/css/themes/default/style.css">
</head>

<body>
    <div class="page-wrapper">
        {{> components/page-header }}
        {{> components/page-sidebar }}