    <footer class="footer">
    <div class="content has-text-centered">
        <p>
        Created by <a href="http://postmedia.com">Postmedia</a> -  Made with <a href="http://bulma.io">Bulma</a>
        </p>
    </div>
    </footer>
</div>
<!-- /wrapper -->

<script src="assets/js/jquery.js"></script>
<script src="assets/js/prettify.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>