<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Postmedia Framework</title>
  <link rel="stylesheet" href="/websites/default/style.css">
  <link rel="stylesheet" href="/websites/ottawacitzen/style.css">
</head>

<body>
  <header>
    <h1> <a href="/index.html">Postmedia Framework</a></h1>
    {{> nav}}
  </header>
  <hr>