<nav>
    <ul class="btnList">
        <li class="btn btn--sm"><a href="layout.html">Layout</a></li>
        <li class="btn btn--sm"><a href="elements.html">Elements</a></li>
        <li class="btn btn--sm"><a href="components.html">Components</a></li>
        <li class="btn btn--sm"><a href="helpers.html">Helpers</a></li>
    </ul>
</nav>