<nav>
    <ul>
        {{#each pageList}}
        <li><button class="btn btn-sm btn-primary" data-filter=".{{this.url}}">{{this.name}}</button></li>
        {{/each}}
        <li><a href="index.html">home</a></li>
        <li><a href="page.html">page</a></li>
    </ul>
</nav>