<nav>
    <ul>
        <li><a href="layout.html">Layout</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="helpers.html">Helpers</a></li>
    </ul>
</nav>