.s-story {
    padding: 1rem 0;
    
    .c-story {
        &__title {
            padding: 0;
            margin: 0;
            font-size: $size-3;
        }

        &__intro {
            line-height: 1.5rem;
        }
    }
}
